@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Roboto", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
     font-size: 1em;
}
html, body{
    min-height: 100vh; /*Equivale a 100% da viewport v=viewport e h=altura, em ingles*/
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center; 
}
header h1{
    padding-top: 50px;
    /*text-transform: uppercase; Transformar todas as letras em maiúscula*/
    font-variant: small-caps; /*Transformar todas as letras em maiúscula, mas as iniciais ficam maiores*/
    font-family: var(--fonte2);
    /* 
    font-size: 4em; desse jeito, o tamanho das letras sera a mesma independentemente do dispositivo. Mas, o normal e que em dispositivos moveis, o tamanho diminua. A solucao passaria, por enquanto que nao falamos sobre midia query, utilizar em relacao ao tamanho da tela: vw. A linha abaixo faz isso.*/
     font-size: 10vw; /*Tamanho da fonte em relacao a largura da tela.*/
}
header p{
    padding-bottom: 50px;
}
section{
    padding-top: 10vh; /*10% da altura da viewport*/
    padding-bottom: 10vh;
    line-height: 2em; /*Espacamento entre as linhas dos textos*/
    padding-left: 30px; /*Empurrar os textos a direita para dar uma sensacao de paragrafo*/
    font-family: var(--fonte3);
    font-size: 1em;
}
section.normal{
background-color: white;
color: black;
}

section.imagem{
background-color: rgba(173, 216, 230, 0.452);
color: white;
}
section.imagem p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.466); /*Cor preta com uma transparencia de 50%*/
}
footer{
    text-align: center;
    background-color: black;
    padding-top: 10px;
    color: white;
    height: 40px; /*Altura do rodape*/
    line-height: 40px; /*Centralizar na altura do rodape*/
    margin-top: 10px;
}

header a, footer a{
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}


